span.card-title {
    font-weight: bold!important;
    font-size: 20px!important;
    line-height: 1.2!important;
}

.card-reveal p {
    line-height: 2;
    font-size: 17px;
    margin-top: 40px;
}

.card-content p a {
    font-weight: bold;
    font-size: 18px;
    
}

@media (max-width: 420px) {
    nav.nav-wrapper {
        height: 100px;
        line-height: 1.5;
        padding: 5px;
    }
}